{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Numbers & Machines</title>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="{% static 'Cars/css/main.css' %}" >
</head>

<body>

<form id="file_form" action="" class="form" method="post" enctype="multipart/form-data">
<h3>Choose a File</h3>
{% csrf_token %}
{% comment %} <label for="file1"> Upload a file</label> {% endcomment %}
<input type="file" class="input "id="file1" name="file">
<button type="submit" class="input btn" id="save" >Upload</button>
</form>
<button type="button" class="input btn" id="btn2" value="weight">WEIGHT</button>
<button type="button" class="input btn" id="btn1" value="mpg">MPG</button>
<section id="graph" >
{% include 'Cars/graphs.html' %}
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'Cars/js/main.js' %}"></script>
</body>
</html>


