{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Numbers & Machines</title>
<link rel="stylesheet" href="{% static 'Cars/css/main.css' %}" >
</head>

<body>
<form action="#" method="post" class="form">
 <h3>Numbers & Machines Sign UP</h3>
 {% csrf_token %}
 <input type="text" class="input" placeholder="Username" name="user_name" />
 <input type="email" class="input" placeholder="Username" name="email" />
 <input type="password" class="input" placeholder="Username" name="password1" />
 <input type="password" class="input" placeholder="Password" name="password2"/>
 <button class="input btn" type="submit"><i class="icon ion-md-lock"></i>REGISTER</button>
 {%for message in messages %}
                    <h5>{{message}}</h5>
                {% endfor %}
  <center><h3><a href="{% url 'signin' %}">Already Registered?</a></h3></center>
                  
</form>

</body>
</html>